.our-music {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/music_bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.our-music::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .5;
  z-index: -1;
}

.our-music h1 {
  color: #fff;
  opacity: 1 !important;
  margin-bottom: 50px;
  margin-top: 30px;
}

.our-music main {
  display: grid;
  grid-template-columns: 1fr;
  width: 100% ;
}

.our-music main h2 {
  color: #fff;
}

.our-music main .top-songs {
  padding: 0 30px;
}

.our-music main .top-songs .song-container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin: 30px 0;
}

.our-music main .top-songs .song-container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.our-music main .top-songs .song-container .title {
  margin: 0 auto;
}

.our-music main .top-songs .song-container .favorite {
  margin-left: 10%;
}

.our-music main .top-songs .song-container .duration {
  margin-right: 20%;
}

.our-music main .top-songs .song-container .option {
  margin-left: auto;
}

.our-music main .top-songs .song-container img {
  height: 40px;
  width: 40px;
}

.our-music main .albums {
  padding: 0 30px;
}

.our-music main .albums .album-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.our-music main .albums .album-container .card {
  width: 220px;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.our-music main .albums .album-container .card .album-name{
  font-size: 1.8rem;
  font-weight: 500;
}

.our-music main .albums .album-container .card .image-container img{
  object-fit: cover;
  width: 100%;
  height: 200px;
}



@media only screen and (min-width: 768px) {
  .our-music main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}