.tour-dates {
  display: flex;
  flex-direction: column;
}

.tour-dates header{
  margin: 20px;
}

.tour-dates main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tour-dates .tour-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 440px;
  width: 350px;
  border-radius: 4px;
  margin: 20px;
  margin-bottom: 40px;
  padding: 20px;
  color: #000;
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.336);
  cursor: pointer;
}

.tour-dates .tour-cards:hover {
  transform: scale(1.02);
}

.tour-dates .tour-cards span:nth-child(1) {
  margin-bottom: 10px;
}

.tour-dates .tour-cards p:nth-child(3) {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tour-dates .tour-cards .image-container {
  height: 100%;
  width: 100%;
}

.tour-dates .tour-cards .image-container img {
  height: 100%;
  width: 100%;
}

.tour-dates .tour-cards p{
  font-size: 22px;
}