.our-story {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.our-story header {
  margin: 20px;
}

.our-story main {
  display: grid;
  grid-template-columns: 1fr;
}

.our-story main .text-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-story main .text-container div{
  max-width: 700px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 30px 0;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  font-size: 1rem;
}

.our-story main .text-container p {
  word-wrap: break-word;
}

.our-story main .text-container p span{
  font-weight: 500;
}

.our-story main .text-container .text-header {
  font-weight: 500;
}

.our-story main .right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.our-story main .right-side .video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%
}

.our-story main .video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .our-story main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .our-story main .text-container div{
    max-width: 500px;
    font-size: 1.3rem;
  }
}

.our-story .members-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 40px;
}

.our-story .members-container .card {
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.our-story .members-container .card .image-container img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.our-story .members-container .card .name {
  font-size: 1.2rem;
  font-weight: 500;
}

.our-story .members-container .card span {
  font-size: 1.0rem;
  font-weight: 300;
}

