.home {
  background-image: url(../../assets/home_background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.home::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .5;
  z-index: -1;
}

.home h1 {
  text-align: center;
  font-size: 4rem;
  color: #fff;
}