#nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 1000;
}

#nav-container .nav-container {
  min-height: 1vh;
  background-color: #29323c;
}

.nav-container .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

.nav-container .nav-bar .brand img {
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
  padding: 10px 0;
}

.nav-container .nav-bar .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.nav-container .nav-bar .nav-list .social-icons {
  display: none;
}

.nav-container .nav-bar .nav-list .social-icons img {
  margin: 0 5px;
  height: 20px;
}

.nav-container .nav-bar .nav-list ul {
  list-style: none;
  background-color: #29323c;
  width: 100vw;
  height: 100vh;
  left: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .4s ease left;
}

.nav-container .nav-bar .nav-list ul.active {
  left: 0;
}

.nav-container .nav-bar .nav-list ul li a:hover {
  color: gray !important;
}

.nav-container .nav-bar .nav-list ul a {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  display: block;
}

.nav-container .nav-bar .hamburger {
  z-index: 100;
  position: relative;
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  transform: scale(.8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.nav-container .nav-bar .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: #fff;
  z-index: -1;
}

.nav-container .nav-bar .hamburger .bar::after,
.nav-container .nav-bar .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #fff;
  transition: .3s ease;
  transition-property: top, bottom;
}

.nav-container .nav-bar .hamburger .bar::after {
  top: 8px;
}

.nav-container .nav-bar .hamburger .bar::before {
  bottom: 8px;
}

.nav-container .nav-bar .hamburger.active .bar::after {
  top: 0;
}

.nav-container .nav-bar .hamburger.active .bar::before {
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .nav-container .nav-bar .hamburger {
    display: none;
  }

  .nav-container .nav-bar .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
    margin: 0 auto;
  }

  .nav-container .nav-bar .nav-list ul li {
    display: inline-block;
  }

  .nav-container .nav-bar .nav-list ul li a {
    font-size: 1rem;
  }

  .nav-container .nav-bar .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-container .nav-bar .nav-list .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

}