.contact-us {
  display: flex;
  flex-direction: column;
}

.contact-us header h1 {
  margin-top: 30px;
}


.contact-us h2 {
  font-size: 1.5rem;
  color: #000;
  opacity: .7;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.contact-us form {
  display: flex;
  flex-direction: column;
}

.contact-us form input ,textarea{
  outline: none;
  padding: 10px 8px;
  font-size: 16px;
  margin: 10px;
}

.contact-us form button {
  height: 40px;
  display: block;
  width: 180px;
  margin: 0 auto;
  margin-top: 20px;
}

.contact-us .bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.contact-us .bottom-text span{
  margin: 2px 0;
}