footer {
  background-color: #29323c;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer span {
  color: #fff;
}

footer .icons-container {
  margin-top: 10px;
  display: flex;
}

footer .icons-container img {
  height: 20px;
  width: 20px;
  margin: 0 8px;
}