.the-band {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.the-band header{
  margin: 20px;
}

.the-band main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
}

.the-band main .image-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.the-band main .image-container img {
  display: block;
  height: 90%;
  padding: 30px 0;
}

.the-band main .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.the-band main .text-container .text{
  margin-top: 10px;
  margin-bottom: 30px;
}


.the-band main .text-container > div{
  padding: 0 20px;
  max-width: 900px;
  margin-bottom: 30px;
}

.the-band main .text-header {
  font-weight: bold;
}

.the-band main .text-container p {
  word-break: break-all;
}


@media only screen and (min-width: 768px) {
  .the-band main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .the-band main .text-container > div{
    max-width: 500px;
  }

  .the-band main {
    max-width: 1600px;
  }
}